@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@300;400&family=Yantramanav:wght@300;400;900&display=swap");
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px) translate(-50%, 0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0) translate(-50%, 0%);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px) translate(-50%, -50%);
    transform: translateX(-1000px) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translate(-50%, -50%);
    transform: translateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes levitate {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.primary-font {
  font-family: "Yantramanav", sans-serif;
}
.secondary-font {
  font-family: "Poppins", sans-serif;
}
.text-font {
  font-family: "Heebo", sans-serif;
}
.underline {
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
  margin: 0 auto;
}
.primary-btn {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
  &:hover {
    background-color: #fff;
    color: #040404;
    font-weight: bold;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.2s both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.4s both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
.levitate {
  animation: levitate 2s infinite;
}
.section-title {
  position: relative;
  .title-bg {
    font-size: 120px;
    color: transparent;
    font-weight: 900;
    position: absolute;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(63, 63, 63);

    line-height: 100px;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 1;
  }
  .title-icon {
    position: absolute;
    width: 50px;
    right: calc(100% - 15px);
    bottom: calc(100% - 20px);
  }
  .title-wrap {
    z-index: 4;
    position: relative;
  }
}
.dark-overlay {
  background-color: #0000005f;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal-content {
  border-radius: 0px;
  background-color: rgb(20, 20, 20);
}
.modal-video {
  height: 400px;
}
.form-input {
  background-color: transparent;
  font-family: "Yantramanav", sans-serif;
  border: 1px solid #313131;
  padding: 10px 20px;
  width: 100%;
  border-radius: 30px;
}
body {
  background-color: #040404;
}
nav {
  z-index: 20;
  .brand-logo {
    width: 70px;
  }
  .active {
    .underline {
      width: 100%;
    }
  }
  .nav-item {
    letter-spacing: 1.5px;
    font-size: 14px;
    margin: 0 25px;
    &:hover {
      .underline {
        width: 100%;
      }
    }

    .nav-link {
      color: #fff !important;
      //   margin: 0px 10px;
      padding: 0 !important;
      transition: all 0.3s;
      margin-bottom: 5px;
      &:hover {
        // border-bottom: 1px solid #fff;
      }
    }
    .active {
      //   border-bottom: 1px solid #fff;
    }
  }
}
#cover {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .cover-text {
    font-size: 120px;
    letter-spacing: 10px;
    color: transparent;
    // font-weight: bold
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(220, 220, 220);
    line-height: 100px;
    span {
      color: rgb(220, 220, 220);
    }
  }
  .cover-text-img {
    width: 50%;
    margin: 0 auto;
  }
  .cover-text-wrap {
    position: relative;
    z-index: 10;
  }
  .cover-images {
    width: 100%;
    position: absolute;
    height: 100%;
    .dark-overlay-gradient {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0) 36%,
        rgba(0, 0, 0, 1) 100%
      );
      position: absolute;
      z-index: 4;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .bodybuilder {
      height: 80%;
      position: absolute;
      bottom: 0;
      -ms-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      left: 50%;
      z-index: 3;
    }
    .cover-logo {
      height: 60%;

      position: absolute;
      //   left: -100px;
      top: 20%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 2;
      //   top: 50   %;
      opacity: 0.6;
      top: 50%;
      left: 10%;
    }
    .cover-ornament {
      height: 70%;
      position: absolute;
      right: 0%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 90%;
    }
  }
}
#selection {
  background-color: #0b0b0b;
  position: relative;
  .service {
    z-index: 2;
    position: relative;
    transition: all 0.4s;
    img {
      transition: all 0.3s;
    }
    .service-text-wrap {
      height: 0px;
      overflow-y: hidden;
      transition: all 0.3s;
    }
    .service-text {
      //   display: none;
    }
    &:hover {
      transform: translate(-10px, -10px);
      .service-overlay {
        .service-icon {
          transform: rotate(0deg);
        }
      }
      .service-text-wrap {
        // display: block;
        // height: auto !important;
      }
    }
    .service-overlay {
      background-color: #00000079;
      position: absolute;
      transition: all 0.3s;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      img {
        width: 70px;
      }
      .service-icon {
        transition: all 0.3s;
        transform: rotate(-45deg);
        font-size: 80px;
      }
    }
  }
  .overlay-border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}
#about {
  overflow: hidden;
  .about-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;
    right: -10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .about-text-wrap {
    width: 75%;
  }
}
#promo {
  background-image: url("../img/gym-1.png");
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .playbutton {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 1px solid #fff;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    .play-icon {
      font-size: 50px;
      color: #fff;
    }
    &:hover {
      transform: scale(1.04);
    }
  }
}
#trainers {
  background-color: #0b0b0b;
  .trainer {
    &:hover {
      img {
        transform: translate(-10px, 10px);
      }
    }
  }
  .trainer-img-wrap {
    position: relative;
    img {
      position: relative;
      transition: all 0.4s;
    }
    .trainer-img-lines {
      position: absolute;
      width: 100%;
      height: 100%;
      right: 1px;
      top: 0;
      border-right: 1px solid #fff;
      border-top: 1px solid #fff;
    }
  }
  p {
    letter-spacing: 1px;
  }
  h6 {
    letter-spacing: 2px;
  }
}
#pricing {
  .price {
    display: flex;
    justify-content: center;
    background-color: #131619;
    border-radius: 20px;
    .pricing-wrap {
      width: 75%;
    }
  }
}
#contact {
  background-color: #131619;
  .contact-title {
    justify-content: start;
  }
}
footer {
  h5 {
  }
}
@media screen and(max-width:1025px) {
  #cover {
    .cover-text-img {
      width: 60%;
    }
  }
}
@media screen and(max-width:769px) {
  nav {
    .nav-item {
      margin: 5px 0px;
    }
    background-color: #040404;
  }
  #cover {
    .cover-text {
      font-size: 100px;
      line-height: 85px;
    }
    .cover-text-img {
      width: 80%;
      margin: 0 auto;
    }
    .cover-images {
      .bodybuilder {
        height: 70%;
      }
      .cover-logo {
        height: 50%;
        left: 15%;
        top: 40%;
      }
      .cover-ornament {
        left: 90%;
      }
    }
  }
  #selection {
    .service {
      .service-overlay {
        align-items: flex-start;
        img {
          width: 50px;
        }
        h4 {
          font-size: 20px;
        }
        .service-icon {
          font-size: 40px;
        }
      }
    }
  }
  #about {
    .about-text-wrap {
      width: 100%;
    }
  }
}
@media screen and(max-width:426px) {
  nav {
    .brand-logo {
      width: 60px;
    }
    .nav-item {
      margin: 5px 0px;
    }
  }
  #cover {
    .cover-text {
      font-size: 80px;
      line-height: 70px;
    }
    .cover-text-img {
      width: 100%;
      margin: 20px auto;
    }
    .cover-images {
      .bodybuilder {
        height: 60%;
      }
      .cover-logo {
        height: 40%;
        opacity: 0.4;
        left: 50%;
        top: 35%;
      }
      .cover-ornament {
        left: 45%;
        top: 70%;
      }
    }
  }
  #selection {
    .service {
      .service-overlay {
        align-items: center;
        img {
          width: 70px;
        }
        h4 {
          font-size: 24px;
        }
        .service-icon {
          font-size: 50px;
        }
      }
    }
  }
  #about {
    .about-text-wrap {
      padding: 0px 20px;
    }
  }
  #contact {
    .contact-title {
      justify-content: center;
    }
  }
}
